.superCta {
  display: inline-block;
  background-color: white;
  color: black;
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 20px;
  border: 1px solid;
  text-decoration: none;
  padding: 10px;
  margin: 10px;
}